<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @word.english %>
</p>

<p>
  <strong>Finnish:</strong>
  <%= @word.finnish %>
</p>

<% #byebug %>

<% unless @word.links.empty? %>
  <p>Sanaan liittyvät lisätietolinkit:</p>

  <ul>
  <% @word.links.each do | link | %>
  	<li>
			<%= link_to link.description, link.url, :target => "_blank" %>
  	</li>
  <% end %>
</ul>
<% else %>

	<p>Sanaan ei löydy linkkejä.</p>
<% end %>

<%= link_to 'Muokkaa', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
