<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @word.english %>
</p>

<p>
  <strong>Finnish:</strong>
  <%= @word.finnish %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
